#NET "quotient[0]" LOC = "D17";
#NET "quotient[1]" LOC = "AB4";
#NET "quotient[2]" LOC = "D21";
#NET "quotient[3]" LOC = "W15";
#NET "quotient[4]" LOC = "G7";
#NET "quotient[5]" LOC = "H6";
#NET "quotient[6]" LOC = "D1";
#NET "quotient[7]" LOC = "R7";
//NET "quotient[0]" LOC = "G7";
//NET "quotient[1]" LOC = "H6";
//NET "quotient[2]" LOC = "D1";
//NET "quotient[3]" LOC = "R7";
NET "khz_clk" LOC = "V19";
NET "hz_clk" LOC = "B3";
NET "clk" LOC = "AB13";
NET "sig" LOC = "A3";
NET "sig" CLOCK_DEDICATED_ROUTE = FALSE;

//NET "quotient[0]" LOC = "D17";
//NET "quotient[1]" LOC = "AB4";
//NET "quotient[2]" LOC = "D21";
//NET "quotient[3]" LOC = "W15";
//NET "fractional[0]" LOC = "G7";
//NET "fractional[1]" LOC = "H6";
//NET "fractional[2]" LOC = "D1";
//NET "fractional[3]" LOC = "R7";

NET "fractional[0]" LOC = "D17";
NET "fractional[1]" LOC = "AB4";
NET "fractional[2]" LOC = "D21";
NET "fractional[3]" LOC = "W15";
NET "fractional[4]" LOC = "G7";
NET "fractional[5]" LOC = "H6";
NET "fractional[6]" LOC = "D1";
NET "fractional[7]" LOC = "R7";